

.product p {
  margin: 0;
}

.sub-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product img {
  max-width: 100%;
  /*height: auto;*/
  /*height: 256px;*/
  max-height: 256px;
  display: block;
  vertical-align: middle;
}

.product a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  display: flex;
  max-width: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  /*margin-top: 4px;*/
  padding-top: 4px;
  width: 100%;
}

.sub-container {
  padding-left: 0rem;
  padding-right: 0rem;
  width: 100%;
}

.heading {
  margin: 1.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 640px) {
  .heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .product {
    width: 110px;
  }
  .product-container {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
  .product-name {
    /*width: 95px;*/
    width: 108px;
  }
  .product-footer {
    padding: 0.2rem;
  }
}

@media (min-width: 640px) {
  .heading {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .product {
    width: 220px;
  }
  .product-container {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /*grid-template-rows: repeat(1, minmax(420px, 1fr));*/
  }
  .product-name {
    width: 200px;
  }
  .product-footer {
    padding: 1.25rem;
  }
}

.product-container {
  display: grid;
/*  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));*/
  gap: 1rem;
  margin-top: 0; /*1.5rem;*/
  overflow-x: scroll;
}


.product{
  /*width: 220px;*/
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.375rem;
  border: 2px solid rgb(17 24 39);
}

.header{
  overflow: hidden;
}

.product-footer{
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.product-footer .product-cat{
  color: rgb(185 28 28);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  flex: 1 1 0%
}

.product-footer .product-comment {
  margin-top: 1.5rem;
  background-color: rgb(175, 238, 238);
  /*color: rgb(75 85 99);*/
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  flex: 1 1 0%
}


.header .product-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.product-footer .product-name{
  /*width: 200px;*/
  margin: 0;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 500;
  margin-top: 0.3rem;
}

.product-footer .product-price{
  color: rgb(75 85 99);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.product:hover .product-img{
  transform: scale(1.20);
}

.tabrow-stores {
    padding: 0rem;
    padding-left: 1rem;
    overflow: hidden;
    position: relative;
    margin-top: 1.5rem;
}

.tab-stores {
    border: 2px solid rgb(17 24 39);
    display: inline-block;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0;
    padding: 0 20px;
    background-color: #f1f1f1;
    font-size: 1.0rem;
}

/* Loaging dual ring */

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin: 1.5px;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Loading products */
/* Absolute Center Spinner */
.loading-products {
  /*position: static;*/
  z-index: 999;
  /*height: 2em;*/
  /*/width: 2em;*/
  height: 256px;
  width: 100%;
  overflow: visible;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50% 50%;
  background-color: white;
  /*top: 50%;*/
  /*top: 0;
  left: 0;
  bottom: 0;
  right: 0;*/
}

/* Transparent Overlay */
.loading-products:before {
  content: '';
  display: block;
/*  position: static;*/
/*  top: 0;
  left: 0;*/
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading-products:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading-products:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
